:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

.bookmark-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  width: 80.9%;
  margin: 0 auto;
  align-items: center;
  
  gap: 0.6rem;
  padding: 0.5rem;
  border-radius: var(--card-border-radius);
  /* background: var(--color-white); */
  overflow: hidden; /* Ensures no scrollbars are shown */
}

.book-title{
  margin: 5rem 0 0 0;
}

.bookmarks {
  width: 80%;
  margin: 0.8rem auto;
  align-items: center;
  
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius);
  background: var(--color-white);
}
.book-list .photo {
  width: 18.5rem;
  height: 12.5rem;
  border-radius: var(--card-border-radius);
}

.book-list .photo img {
  width: 100%;
  height: 100%;
  border-radius: var(--card-border-radius);
  object-fit: cover;
}
