.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin-top:1rem ;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text"]{
    justify-self:start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color:var(--color-dark);
    margin-right: 1rem;
}

.middle .create-post .profile-photo img{
  border-radius: var(--border-radius);
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
}